# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/

# Env secrets
.env
.env.prod

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Claude
.claude

BACKLOG.md
content-backlog.md
ARTICLE_CHECKLIST.md